# Python files
*.py
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
poetry.lock
pyproject.toml

# Test directory
tests/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
