repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        exclude: ^dist/

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: poetry run pytest tests/ -v --tb=short -m "not integration"
        language: system
        pass_filenames: false
        files: ^(tests/|src/)
        description: "Run tests to ensure code quality"
